.TextsAndButtons {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: white;
    padding-top: 50px;
    margin-left: 20px;
    padding: 10px;
    height: 100%;
}

.verticalItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 80px;
    height: 200px;
    max-width: 40%;
}

.verticalItem h3 {
    margin: 0;
    font-size: 2.6vw;
}

.verticalItem span {
    font-size: 2.4vw;
}

.verticalItem > * {
    padding: 10px;
}

.horizontalButtonsHolder {
    display: flex;
    align-items: center;
    width: 100%;
    height: 15%;
}

.horizontalButtonsHolder > * {
    margin-right: 10px;
    font-weight: bold;
}

.horizontalButtonsHolder button {
    height: 37px;
    width: 108px;
    font-size: 2.4vw;
}

.Carousels {
    padding-bottom: 10px;
}

@media(min-width: 600px) {
    .horizontalButtonsHolder button {
        height:38px;
        width: 138px;
        font-size: 1.4vw;
    }

    .verticalItem span {
        font-size: 1.4vw;
    }

    .verticalItem h3 {
        font-size: 1.6vw;
    }
}