.VideoCard {
    display: flex;
    align-items: center;
    margin-right: 7px;
    cursor: pointer;
}

.VideoCard img {
    height: 100%;
    width: 100%;
}

.VideoCard:hover .VideoInfo {
    display: block;
}

.VideoInfo {
    display: none;
    padding: 5px;
    margin-top: 15px;
    font-weight: 400;
}

.VideoInfo h6 {
    margin: 0;
}

.VideoInfo span {
    font-size: 0.5em;
}

.genres {
    display: flex;
}