.VideoCard {
    display: flex;
    align-items: center;
    margin-right: 7px;
    cursor: pointer;
    height: 100px;
    width: 130px
}

.VideoCard img {
    height: 100%;
    width: 100%;
}

.VideoCard:hover .VideoInfo {
    display: block;
}

.VideoInfo {
    display: none;
    padding: 5px;
    margin-top: 15px;
    font-weight: 400;
}

.VideoInfo h6 {
    margin: 0;
}

.horizontalStyle {
    display: flex;
    flex-wrap: wrap;
}

.horizontalStyle span {
    font-size: 0.5em;
}

@media(min-width: 600px) {
    .VideoCard {
        height: 140px;
        width: 230px
    }
}


