.SearchContent {
    padding: 95px 10px;
    color: white;
    height: 100vh;
}

.SearchGrid {
    display: grid;
    grid-template-columns: repeat(3, 31.5%);
    grid-gap: 10px;
    height: 100%;
}

.GridItem > * {
    margin: 0;
}

@media(min-width: 600px) {
    .SearchContent {
        margin: 0 10px;
    }   

    .SearchGrid {
        grid-template-columns: repeat(6, 16%);
    }
}