.SearchBox {
    display: inline-block;
}

.Holder {
    display: flex;
    align-items: center;
    border: solid 1px rgba(255,255,255,.85);
    height: 100%;
    width: 100%;
    background-color: black;
    height: 30px;
    width: 160px
}

.Holder svg {
    padding: 15px 5px;
}

.Holder input {
    border: none;
    outline: none;
    color: white;
    width: 100%;
    background-color: transparent;
}

.scale-up-hor-right {
	-webkit-animation: scale-up-hor-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-hor-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-hor-right {
0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
}
100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
}
}
@keyframes scale-up-hor-right {
0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
}
100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
}
}

@media(min-width: 600px) {
    .Holder {
        height: 30px;
        width: 250px
    }
}