/* Remove the explicit height after finshing the animations */
.VideoCarousel {
    color: #e5e5e5;
    margin-left: 20px;
    padding: 10px;
    font-size: 1.4vw;
    height: 500px;
    overflow-x: hidden;
}

.items {
    display: flex;
}

.item {
    position: relative;
    display: block;
    transition: transform 500ms;
}

.itemsfocus-within .item,
.items:hover .item {
  transform: translateX(-25%);
}

.item:focus ~ .item,
.item:hover ~ .item {
  transform: translateX(25%);
}

.items .item:focus,
.items .item:hover {
  transform: scale(1.5);
}